@font-face {
  font-family: PostAntikva;
  src: url("PostAntikva-Plain.otf");
}

#main {
  margin: 4em 8em;
  word-wrap: nowrap;

  font-family: PostAntikva;
  font-size: 16pt;
  font-kerning: normal;
}

body {
  overflow-y: hidden;
}

#butt {
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-size: 2em;
  padding: 0.2em 0.4em 0.2em 0.6em;

  border-radius: 1em;
}
